/*
Author: Bob Rein
File name: home.css
Date Created: 1/25/19
*/

.tinyFont{
  font-size: 10px;
}
.allCols{
  width:100%;
}
.redBack{
  background-color: blue;
}
.blueBack{
  background-color: green;
}
.greenBack{
  background-color: red;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.noTopMargin{
  margin-top: -100px;
}
#body{
  background-color: #afafaf;
}
