/*
Author: Bob Rein
File name: home.css
Date Created: 1/25/19
*/

.tinyFont{
  font-size: 10px;
}
.allCols{
  width:100%;
}
.centerCol{
  background-color: blue;
}
.rightCol{
  background-color: green;
}
.leftCol{
  background-color: red;
}
